<!DOCTYPE html>
<html>

<!--网页页头-->
<%- include header %>
<!--end-->

<!--网页主体-->
<div id="main">
    <div class="container beij">
	    <div class="content_wz">
		      <div class="inhaul cont_inh">
			      <p><a href="/">首页</a><span> > </span><a href="#">专业成果</a></p>
			  </div>
		      <div class="new_b clearhid">
                <div class="content_doc">
		             <div class="grid clearhid">
					      <figure class="effect-sarah">
                              <img src="image/profession/secure.jpeg" alt="网络安全"/>
                              <figcaption>
                                  <h2>网络安全</h2>
                                  <p>守卫网络的净土</p>
                                  <a href="/secure" >View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/profession/computer.jpeg" alt="计算机科学与技术"/>
                              <figcaption>
                                  <h2><span>计算机</span>科学与技术</h2>
                                  <p>科技兴国</p>
                                  <a href="/computer">View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/profession/machine.jpeg" alt="机械工学"/>
                              <figcaption>
                                  <h2>机械工学</h2>
                                  <p>机械工学是工学中历史最悠久的,并作为包含尖端工学学科</p>
                                  <a href="/machine" >View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/profession/elec.jpeg" alt="电子通信工程"/>
                              <figcaption>
                                  <h2>电子通信工程</h2>
                                  <p>电子科学与技术和信息技术相结合，构建现代信息社会的工程领域</p>
                                  <a href="/electicty" >View more</a>
                              </figcaption>			
                          </figure>
						  <figure class="effect-sarah">
                              <img src="image/profession/auto.jpeg" alt="自动化"/>
                              <figcaption>
                                  <h2>自动化</h2>
                                  <p>自动化专业以系统科学、控制科学、信息科学等新兴横断学科为理论基础</p>
                                  <a href="/auto" >View more</a>
                              </figcaption>			
                          </figure>
					 </div>
				</div>  
		    </div>
	    </div>
    </div>
</div>
<!--end-->


<!--网页页尾-->
<%- include footer %>
<!--end-->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/tabulous.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</body>
</html>
